<% @travel_agents.each() do |agent| %>
  <section class="travel_agent_container">
    <h2><%= agent.name %></h2>
    <p class="medium_text">
      <img class="agent_logo_img rounded_border" src="<%= agent.logo_url %>" alt="<%= agent.name %>'s logo">
      <%= agent.description %>
    </p>
  </section>
  <p><a href="/travel_agent/<%= agent.id %>">Show offers from <%= agent.name %></a></p>
  <hr>
<% end %>
