<div id="view_hotels_main_container">

  <aside id="view_hotels_aside">
    <h2><%= @page_title %></h2>
    <h3>Sort by:</h3>
    <form action="<%= @sort_by_link %>" method="get">
      <label for="no-order">No Order
        <input id="no-order" type="radio" name="sort" value="nil">
      </label>
      <label for="hotel-name">Hotel Name
        <input id="hotel-name" type="radio" name="sort" value="name">
      </label>
      <label for="hotel-name">Stars
        <input id="hotel-name" type="radio" name="sort" value="stars">
      </label>
      <label for="city">City
        <input id="city" type="radio" name="sort" value="city">
      </label>
      <label for="country">Country
        <input id="country" type="radio" name="sort" value="country">
      </label>
      <input id="sort_submit" type="submit">
    </form>
  </aside>

  <section id="view_hotels_section">
    <% @hotels.each() do |hotel| %>
      <article>
        <div>
          <h2>
            <%= hotel.name %>
            <% hotel.stars.times() do %>
              <img class="star_image view_hotel_star_img" src="/images/star.png" alt="image of a star">
            <% end %>
          </h2>
          <h3>City - Country</h3>
        </div>

        <p class="medium_text">
          <img class="rounded_border" src="<%= hotel.image_url %>" alt="<%= hotel.name %>'s picture">
          <%= hotel.description %>
        </p>
        <p class="show_holiday_link"><a href="/hotel/<%= hotel.id %>">View Holidays at <%= hotel.name %></a></p>
      </article>
      <hr>
    <% end %>
  </section>
</div>
