<label for="hotel-name">Hotel</label>
<select id="hotel-name" class="" name="hotel_id">
  <%= current_hotel = @holiday.get_hotel() if(@edit) %>
  <% @hotels.each() do |hotel| %>
    <option
      value="<%= hotel.id %>"
      <%= "selected" if(@edit && current_hotel.name == hotel.name) %>>
      <%= hotel.name %>
    </option>
  <% end %>
</select>
<label for="agent-name">Travel Agent</label>
<select id="agent-name" name="travel_agent_id">
  <%= current_agent = @holiday.get_travel_agent() if(@edit) %>
  <% @travel_agents.each() do |agent| %>
    <option
      value="<%= agent.id %>"
      <%= "selected" if(@edit && current_agent.name == agent.name) %>>
      <%= agent.name %>
    </option>
  <% end %>
</select>
<label for="holiday-cost">Cost per person (per night)</label>
<input id="holiday-cost" type="number" name="cost_per_person" min="1" max="30000" value="<%= @holiday.cost_per_person if(@edit) %>">
<label for="holiday-nights">Number of Nights</label>
<input id="holiday-nights" type="number" name="nights" min="1" max="99" value="<%= @holiday.nights if(@edit) %>">
<input class="add_to_form_submit" type="submit" name="submit">
