<div id="view_holidays_main_container">

  <aside id="view_holidays_aside">
    <h2><%= @page_title %></h2>
    <h3>Sort by:</h3>
    <form action="<%= @sort_by_path %>" method="get">
      <label for="no-order">No Order
        <input id="no-order" type="radio" name="sort" value="no_order">
      </label>
      <label for="hotel-name">Price
        <input id="hotel-name" type="radio" name="sort" value="cost_per_person">
      </label>
      <label for="hotel-name">Hotel Name
        <input id="hotel-name" type="radio" name="sort" value="hotel_name">
      </label>
      <label for="city">Deals
        <input id="city" type="radio" name="sort" value="--">
      </label>
      <label for="country">Nights
        <input id="country" type="radio" name="sort" value="nights">
      </label>
      <input id="sort_submit" type="submit">
    </form>
  </aside>

  <section id="view_holidays_section">
    <% @holidays.each() do |holiday| %>
    <% hotel = holiday.get_hotel() %>
    <% deals = (holiday.get_deals()).sort() {|deal1, deal2| deal2.percentage_off <=> deal1.percentage_off }  %>
    <% deal = deals.find() {|deal| deal.active?()} %>
    <% cost = deal ? deal.calc_cost_after_deal_applied(holiday.cost_per_person) : holiday.cost_per_person  %>
      <section>
        <div>
          <img class="rounded_border" src="<%= hotel.image_url %>" alt="<%= hotel.name %>'s image'">
        </div>
        <div>
          <h2><%= hotel.name %></h2>
          <h3>City - Country</h3>
          <p class="medium_text">
            £<%= cost %> per night<br><%= deal ? "Deal: #{deal.percentage_off}% off" : "No Active Deals" %>
          </p>
          <p class="medium_text">Number of Nights: <%= holiday.nights %></p>
        </div>
      </section>
      <p><a href="/holiday/<%= holiday.id %>">View more details about this holiday at the <%= hotel.name %></a></p>
      <hr>
    <% end %>
  </section>
</div>
