<% hotel = @holiday.get_hotel() %>
<% agent = @holiday.get_travel_agent() %>
<% deals = (@holiday.get_deals()).sort() {|deal1, deal2| deal1.get_formatted_start_date() <=> deal2.get_formatted_start_date() } %>
<% cost = @holiday.cost_per_person %>

<div class="aside_layout_main_container">
  <aside id="show_holidays_aside" class="aside_layout_left_section">
    <h3>Deals For This Holiday</h3>
    <ul>
      <% deals.each() do |deal| %>
        <li>
          <% deal_cost = deal.calc_cost_after_deal_applied(@holiday.cost_per_person) %>
          <p class="small_text">£<%= deal_cost %> - <%= deal.percentage_off %>% off</p>
          <p class="small_text">From: <%= deal.get_formatted_start_date() %></p>
          <p class="small_text">Till: <%= deal.get_formatted_end_date() %></p>
          <form action="/holiday/<%= @holiday.id %>/deal/<%= deal.id %>/edit" method="get">
            <input type="submit" value="Edit deal">
          </form>
          <form action="/deal/<%= deal.id %>/delete" method="post">
            <input type="submit" value="Delete deal">
          </form>
        </li>
      <% end %>
    </ul>
    <h4>New Deal</h4>
    <form action="/holidays/<%= @holiday.id %>/deal" method="post">
      <label for="percentage_off_input">Percentage Off</label>
      <input id="percentage_off_input" type="number" name="percentage_off" min="1" max="99">
      <label for="start_date_input">Start Date</label>
      <input id="start_date_input" type="date" name="start_date">
      <label for="end_date_input">End Date</label>
      <input id="end_date_input" type="date" name="end_date">
      <input type="submit" value="Make Deal">
    </form>
  </aside>

  <section id="show_holidays_section" class="aside_layout_right_section">
    <h2><%= hotel.name %></h2>
    <h3>City - Country</h3>
    <section class="alter_options">
      <a class="alter_links" href="/holiday/<%= @holiday.id %>/edit">Edit</a>
      <% if(!@has_deals) %>
        <form action='/holiday/<%= @holiday.id %>/delete' method='post'>
          <input class="clear_submit_button_styles alter_links"
            type="submit"
            value="Delete">
        </form>
      <% else %>
        <p class="alter_links">Cannot delete - Has active deals</p>
      <% end %>
    </section>
    <section id="summary_holiday_section">
      <div>
        <img
          id="show_holiday_hotel_img" class="rounded_border"
          src="<%= hotel.image_url %>" alt="<%= hotel.name %>'s image'"
        >
      </div>
      <div>
        <p class="medium_text">£<%= cost %> per night</p>
        <p class="medium_text">Number of Nights: <%= @holiday.nights %></p>
        <p>Provided By</p>
        <img id="show_holidy_agent_logo" src="<%= agent.logo_url %>" alt="">
        <p><%= agent.name %></p>
      </div>
    </section>
    <article>
      <h4>Hotel</h4>
      <p class="small_text"><%= hotel.description %></p>
      <h4>City</h4>
      <p class="small_text">Details to come later</p>
      <h4>Country</h4>
      <p class="small_text">Details to come later</p>
    </article>
  </section>
</div>
