<div class="aside_layout_main_container">

  <aside class="aside_layout_left_section">
    <h2><%= @page_title %></h2>
    <h3>Sort by:</h3>
    <form action="<%= @sort_path %>" method="get">
      <label for="no-order">No Order
        <input id="no-order" type="radio" name="sort" value="no_order">
      </label>
      <label for="hotel-name">percentage off
        <input id="hotel-name" type="radio" name="sort" value="percentage_off">
      </label>
      <label for="city">Active Deals
        <input id="city" type="radio" name="sort" value="active">
      </label>
      <label for="hotel-name"> Start Dates
        <input id="hotel-name" type="radio" name="sort" value="start_date">
      </label>
      <input type="submit">
    </form>
  </aside>

  <section id="view_deals_section" class="aside_layout_right_section">
    <% @deals.each() do |deal| %>
      <% holiday = deal.get_holiday() %>
      <% hotel = deal.get_hotel() %>
      <section>
        <div>
          <img class="rounded_border" src="<%= hotel.image_url %>" alt="<%= hotel.name %>'s image">
        </div>
        <div>
          <h2><%= hotel.name %></h2>
          <h3>City - Country</h3>
          <span class="medium_text">
            <p>
            £<%= deal.calc_cost_after_deal_applied(holiday.cost_per_person) %>
             - <%= deal.percentage_off %>% off
           </p>
           <p>Number of Nights: <%= holiday.nights %></p>
           <p>
             <span <%= "class='orange_text'" if(deal.active?()) %>>Available:</span>
             <%= deal.get_formatted_start_date() %> - <%= deal.get_formatted_end_date() %>
           </p>
         </span>
         <a href="/holiday/<%= holiday.id %>">View Holiday</a>
        </div>
      </section>
      <hr>
    <% end %>
  </section>
</div>
